.carouselCaptionText {
    position: absolute !important;
    top: 35% !important;
    left: 50% !important;
    transform: translate(-50%) !important;
    width: 350px;
    z-index: 2;
}

.carouselCaptionText h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.carouselCaptionText p {
    font-size: 4rem;
    font-weight: 900;
}